
name: tests
on:
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run Tests
        run: docker-compose -f docker-compose-tests.yml run node_sorteador_app npm run test
        